.bg1 {
  background-image: url('assets/img/bodyContent/background1.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
.bg2 {
  background-image: url('assets/img/bodyContent/background3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
//avatar//
.setAvatar {
  margin-left: auto;
  margin-right: auto;
}
//fin avatar//
//Navbar//
//degradé navbar//
::placeholder {
  color: #d1d1d1;
}

::placeholder {
  color: #d1d1d1;
}


//texte logo navbar//
élément {}

nav .brand-logo {
  width: 14rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding-top: 0.2rem;
  margin-left: 0.3rem;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 1.5rem;
}

nav {
  background: url('assets/img/bodyContent/woodmiddlerepeat.png');
  background-repeat: no-repeat;
}

//mise en page navbar//
nav a {
  color: #fff;
}

a {
  text-decoration: none;
}

a {
  color: #fff;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

*, ::before, ::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

nav {
  color: #fff;
  line-height: 1.5rem;
}

html {
  font-size: 1rem;
}

html {
  line-height: 1rem;
  font-family: OPTIBelwe-Medium;
  color: #ffffff;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

position margin border padding 180×20 180×20 absolute box-sizing border-box display block float none line-height 20px position absolute décalagediv.nav-wrapper z-index auto //fin navbar//

//icon navbar//
élément {}

nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
  height: 45px;
  line-height: 2.5rem;
}

//fin icon navbar//
//banniere//
//espacement banniere --> card//
élément {

}

.row {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
}

//fin espacement banniere --> card//
//card//
//fin card//
//form//
élément {
}
.row .col.s12 {
    left: auto;
    right: auto;
}
élément {
}
.input-field .prefix {
    position: absolute;
    width: 3rem;
    font-size: 2rem;
    -webkit-transition: color .2s;
    transition: color .2s;
    top: .5rem;
}
.material-icons {
  margin-left: 2rem
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}
.material-icons {
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: 'liga';
    -moz-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
}
i {
    line-height: inherit;
}
i {
    line-height: inherit;
}
élément {
}
.brown-text.text-darken-4 {
    color: #3e2723 !important;
}
.brown-text.text-darken-4 {
    color: #3e2723 !important;
}
.input-field > label {
    color: #9e9e9e;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
    cursor: text;
    -webkit-transition: color .2s ease-out, -webkit-transform .2s ease-out;
    transition: color .2s ease-out, -webkit-transform .2s ease-out;
    transition: transform .2s ease-out, color .2s ease-out;
    transition: transform .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out;
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
}
.input-field > label {
    color: #9e9e9e;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
    cursor: text;
    -webkit-transition: color .2s ease-out, -webkit-transform .2s ease-out;
    transition: color .2s ease-out, -webkit-transform .2s ease-out;
    transition: transform .2s ease-out, color .2s ease-out;
    transition: transform .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out;
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    text-align: center;
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
}
.brown-text {
    color: #795548 !important;
}
label {
    font-size: .8rem;
    color: #9e9e9e;
}
html {
    line-height: 1.5;
    font-family: OPTIBelwe-Medium;
    color: #ffffff;
    font-weight: normal;
}
html {
    line-height: 1rem;
    font-family: OPTIBelwe-Medium;
    color: #ffffff;
}
html {
    line-height: 1rem;
    font-family: OPTIBelwe-Medium;
    color: #ffffff;
}
html {
    line-height: 1.5;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: normal;
    color: rgba(0,0,0,0.87);
}
élément {

}

#text {
  color: #d9ac49;
}

input:not([type]), input[type="text"]:not(.browser-default), input[type="password"]:not(.browser-default), input[type="email"]:not(.browser-default), input[type="url"]:not(.browser-default), input[type="time"]:not(.browser-default), input[type="date"]:not(.browser-default), input[type="datetime"]:not(.browser-default), input[type="datetime-local"]:not(.browser-default), input[type="tel"]:not(.browser-default), input[type="number"]:not(.browser-default), input[type="search"]:not(.browser-default), textarea.materialize-textarea {
  border: none;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-bottom: 1px solid;
  border-radius: 0;
  outline: none;
  width: 70%;
  font-size: 1rem;
  margin-left: 1px;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: border .3s, -webkit-box-shadow .3s;
  transition: border .3s, -webkit-box-shadow .3s;
  transition: box-shadow .3s, border .3s;
  transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}

#register-page {
  width: 90%;
}

.row::after {
  content: none;
}

.bg {
  background-image: url('assets/img/bodyContent/pageA.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg2 {
  background-image: url('assets/img/bodyContent/pageAbig.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 1680px;
}

.register-form .center, .center-align {
  align-self: center;
  font-size: 13px;
}
i.material-icons.prefix {
    margin-left: -25px;
  color: #3e2723 ;
}

@media screen and (max-width:1280px) {
  i.material-icons.prefix {
    display:unset !important;
    margin-left: -25px !important;
  }
}
.row {
  margin-left: auto;
  margin-right: auto;
}

*, ::before, ::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

*, ::before, ::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

//buttonValidation//

élément {
}
.row .col.s6 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: #2bbbad;
}
.row .col {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 .75rem;
    min-height: 1px;
}

.btn, .btn-large, .btn-small {
    text-decoration: none;
    color: #fff;
    background-color: #d6a46f;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
}
élément {
}
.row .col.s6 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.row .col.s6 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.row .col.s6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
}
.row .col {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 .75rem;
    min-height: 1px;
}
.row .col {
    float:  ;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 .75rem;
    min-height: 1px;
}
.row .formInscription {
   float:none;
}
.btn, .btn-large, .btn-small {

    text-decoration: none;
    color: #fff;
    background-color: #d6a46f;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
}
.waves-input-wrapper {
    border-radius: 0.2em;
    vertical-align: bottom;
}
.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
}
.btn, .btn-large, .btn-small {
    text-decoration: none;
    color: #fff;
    background-color: #bf9035;
    text-align: center;
    letter-spacing: .4px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
}
.btn, .btn-large, .btn-small, .btn-floating, .btn-large, .btn-small, .btn-flat {
    font-size: 11px;
    outline: 0;
}
.btn, .btn-large, .btn-small, .btn-flat {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}
i {
    line-height: inherit;
}
*, ::before, ::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
*, ::before, ::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
*, ::before, ::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
*, ::before, ::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
.center, .center-align {
    text-align: center;
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
html {
    line-height: 1rem;
    font-family: OPTIBelwe-Medium;
    color: #ffffff;
}
html {
    font-size: 1rem;
}
html {
    font-size: 15px;
}
html {
    font-size: 14.5px;
}
html {
    font-size: 15px;
}
html {
    line-height: 1.5;
    font-family: OPTIBelwe-Medium;
    color: #ffffff;
    font-weight: normal;
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
div.input-field.col.s12  {
    margin-left: 2rem;
    width: 89%;
    width: calc(100% - 3rem);

}

élément {
}
.input-field.col .prefix ~ label, .input-field.col .prefix ~ .validate ~ label {
    width: calc(100% - 3rem - 1.5rem);
}
input:not([type]).validate + label, input[type="text"]:not(.browser-default).validate + label, input[type="password"]:not(.browser-default).validate + label, input[type="email"]:not(.browser-default).validate + label, input[type="url"]:not(.browser-default).validate + label, input[type="time"]:not(.browser-default).validate + label, input[type="date"]:not(.browser-default).validate + label, input[type="datetime"]:not(.browser-default).validate + label, input[type="datetime-local"]:not(.browser-default).validate + label, input[type="tel"]:not(.browser-default).validate + label, input[type="number"]:not(.browser-default).validate + label, input[type="search"]:not(.browser-default).validate + label, textarea.materialize-textarea.validate + label {
    width: 100%;
}
.input-field .prefix ~ input, .input-field .prefix ~ textarea, .input-field .prefix ~ label, .input-field .prefix ~ .validate ~ label, .input-field .prefix ~ .helper-text, .input-field .prefix ~ .autocomplete-content {
    margin-left: 2rem;
    width: 92%;

}
i.btn.waves-effect.waves-light.col.s6.formInscription.waves-input-wrapper {
  width: 10rem;
  text-align: center;
}

a.btn.waves-effect.waves-light.modal-trigger.col.s6.formInscription {
  width: 10rem;
  text-align: center;
  font-style: normal;
  font-size: inherit;
text-transform: inherit;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 11px;
  color: #6c5044;
}
a.btn.waves-effect.waves-light.col.s6.formInscription {
width: 12rem;
}
//finbuttonValidation//

//fin form//
//contTitle//
#catTitle {
  padding-top: 1rem;
}

//fincontTitle//

//diary//
.bg3 {
  background-image: url('assets/img/bodyContent/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.ptextstyle {
  color: black;
}
élément {
}

.card .card-content {
    padding: 24px;
    border-radius: 0 0 2px 2px;
}

élément {
    display: block;
    transform: translateY(-100%);
}


.card .card-reveal{
    padding: 24px;
    position: absolute;
    background-color: #e0ba7b;
    width: 100%;
    overflow-y: auto;
    left: 0;
    top: 100%;
    height: 100%;
    z-index: 3;
    display: none;
}

.Detail_event {
  line-height: 1.5;
  font-size: 1.5rem;
color: #582723;
}

img.responsive-img.imgModal {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: transparent !important;
}

div.card-content.divCard {
  padding: 0;
}

@media screen and (max-width:640px) {
.div.modal-content.stylemod {
  background-color: #996a0e !important;
  width: 100vw;
}
}
.h4textstyle {
  color: #d3923e;
  text-decoration: #582723 underline;
}
.h4textstyle2 {
  color: #d3923e;
  text-decoration: #582723 underline;
  margin-left: 1rem;
}
img.activator {
  border-radius: 0.5rem;
  border: solid 2px;
  border-color: #e99d2a;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 0;
  max-height: 80%;
  height: 80%;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  will-change: top, opacity;
  border-radius: !0.5rem;
  border: solid 2px;
  border-color: #856106;
}
.modal.login {
height: 50%;
}
.modal.size {
height: 50%;
}
div.card {
  box-shadow: none ;
}

//fin diary//
//create event//
.RadioAlign {
  display: block;
    padding-left: 20px;
    text-indent: -20px;
}

.SpanAlignCreateEvent {
  width: 11px;
    height: 11px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

.p.FormStyleEvent {
    line-height: 1.5;
    font-family: OPTIBelwe-Medium;
    color: #3e2723;
    font-weight: normal;
}
.center-align.brown-text.text-darken-4.time {
  font-size: 1rem;
}
.material-icons.prefix.select {
  margin-left: 1rem;
}
.col.s12.bg2 {
  padding-top: 4rem;
}

input.select-dropdown.dropdown-trigger {
  margin-left: 3.5rem;
}

input#EventName.validate.eventProperties {
  width: 87% !important;
}

input#NumbCaracter.validate.eventProperties {
  width: 87% !important;
}

input#EventCreator.validate.eventProperties {
  width: 87% !important;
}

input#Creator_email.validate.eventProperties {
  width: 87% !important;
}

input#appt.validate.eventProperties {
  width: 4% !important;
}
@media screen and (max-width:640px) {
  input#appt.validate.eventProperties {
    width: 19% !important;
    margin-left:2rem;
  }
}
@media screen and (max-width:640px) {
  div.input-field.col.s12.HeightSelect {
    margin-right: auto !important;
      margin-left: auto !important;
        }
  p.center-align.brown-text.text-darken-4 {
      margin-left: 4rem !important;

}
p.center-align.brown-text.text-darken-4.labelTitle {
    margin-left: 1rem !important;

}
  }
div.datepicker-calendar {
  background-color: #af6a08 !important;
}
div.datepicker-date-display {
  background-color: #d18a29 !important;
}
div#modal-9999d799-04ab-c341-676f-ba9b0bb0b909.modal.datepicker-modal.open {
  background-color: #af6a08 !important;
}
btn-flat.datepicker-cancel.waves-effect {
  background-color: #bf9035;
}
i.btn.waves-effect.waves-light.col.s6.formInscription.buttonEventCreate {
  margin-top: -250px;
  margin-left: auto;
  margin-right: auto;
}
//lightbox Avatar//
body{
    margin:150px 0 0 0;
    text-align:center;
    background: #f1e7b0;
  }
  h2{
    font-size: 32px;
  }
  a{
    text-decoration: none;
    color: #222222;
    font-size: 18px;
  }

  /* Lightbox background */
  #lightbox {
    display:none;
    background: rgba(0,0,0,0.8);
    position:absolute;
    top:0px;
    left:0px;
    min-width:100%;
    min-height:100%;
    z-index:1000;
  }
  /* Lightbox panel with some content */
  #lightbox-panel {

    display:none;
    position:fixed;
    top:100px;
    left:50%;
    margin-left:-330px;
    width:50%;
    background:#d18d2b;
    padding:10px 15px 10px 15px;
    border:2px solid #CCCCCC;
    z-index:1001;
  }
 /*titre lightbox */
  .TitleLighbox {
  text-align: center;
  }

  /* Début css carroussel */
  #slideshow {
	position: relative;
	width: 300px;
	height: 310px;
	padding: 15px;
	margin: 0 auto 2em;
	background: #FFF;
	/* CSS3 effects */
	background: #d18d2b;
	border-radius: 2px 2px 2px 2px;
	}

#slideshow:before,
#slideshow:after {
	position: absolute;
	bottom:16px;
	z-index: -10;
	width: 50%;
	height: 20px;
	content: " ";
	background: rgba(0,0,0,0.1);
	border-radius: 50%;
}
#slideshow:before {
	left:0;
	transform: rotate(-4deg);
}
#slideshow:after {
	right:0;
	transform: rotate(4deg);
}

/* gestion des dimensions et débordement du conteneur */
#slideshow .container {
	position:relative;
	width: 300px;
	height: 295px;
	overflow: hidden;
}


   le conteneur des slides
   en largeur il fait 100% x le nombre de slides
*/
#slideshow .slider {
	position: absolute;
	left:0; top:0;
	width: 20%;
	height: 310px;
}

/* annulation des marges sur figure */
#slideshow figure {
	position:relative;
	display:inline-block;
	padding:0; margin:0;
}


/* fonction d'animation, n'oubliez pas de prefixer ! */
@keyframes slider {
	0%, 20%, 100%	{ left: 0 }
	25%, 45%		{ left: -100% }
	50%, 70%		{ left: -200% }
	75%, 95%		{ left: -300% }
  100%, 120%  { left: -400% }
  125%, 145%  { left: -500% }
}



@keyframes figcaptionner {
	0%, 25%, 50%, 75%, 100%						{ bottom: -55px;	}
	5%, 20%, 30%, 45%, 55%, 70%, 80%, 95%		{ bottom: 5px;		}
}

/* ajouter à l'élément : */
#slideshow figcaption {
	/* ... la propriété animation */
	animation: figcaptionner 32s infinite;
}

#slideshow .commands {
	position: absolute;
	top: 45%;
	padding: 5px 13px;
	border-bottom:0;
	font-size: 1.3em;
	color: #aaa;
	text-decoration:none;
	background-color: #eee;
	background-image: linear-gradient(#fff,#ddd);
	text-shadow: 0 0 1px #aaa;
	border-radius: 50%;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

#slideshow .prev { left: -48px; }
#slideshow .next { right: -48px; }

#slideshow .commands { display:none; }
#slideshow .commands1 {	display: block; }

#slideshow .c_slider {
	position: absolute;
	left:10px; top:0;
	width: 85%;
	height: 300px;
	/* multiple background */
	background:
	            url(assets/img/avatar/chaman.gif) no-repeat,
	            url(assets/img/avatar/chasseur.gif) no-repeat,
	            url(assets/img/avatar/chasseur2.gif) no-repeat,
              url(assets/img/avatar/demoniste.gif) no-repeat,
              url(assets/img/avatar/druide.gif) no-repeat,
              url(assets/img/avatar/guerrier.gif) no-repeat,
              url(assets/img/avatar/guerrier2.gif) no-repeat,
              url(assets/img/avatar/mage.gif) no-repeat,
              url(assets/img/avatar/mage2.gif) no-repeat,
              url(assets/img/avatar/mage3.gif) no-repeat,
              url(assets/img/avatar/paladin.gif) no-repeat,
              url(assets/img/avatar/paladin2.gif) no-repeat,
              url(assets/img/avatar/prêtre.gif) no-repeat,
              url(assets/img/avatar/voleur.gif) no-repeat;


	transition: background 1s;
}

/* on cache le slider */
.sl_i:target ~ #slideshow .slider									{ visibility: hidden }
/* on planque la 1ère pastille (cf. bonux suivant) */
.sl_i:target ~ #slideshow .dots_commands li:first-child a:after		{ display:none; }
/* pour afficher la 2ème pastille (cf. bonux suivant) */
.sl_i:target ~ #slideshow .dots_commands li:first-child a:before	{ display:block; }

/* lorsque on cible le premier slider */
/* on cache tous les "précédent" et "suivant" */
#sl_i1:target ~ #slideshow .commands								{ display: none; }
/* on affiche seulement deux flèches */
#sl_i1:target ~ #slideshow .commands1								{ display: block; }
/* correspond au décalage des images */
#sl_i1:target ~ #slideshow .c_slider								{ background-position: 0 0, 640px 0, 1280px 0, 1920px 0,2560px 0,3200px 0,3840px 0,4480px 0,5120px 0,5760px 0,6400px 0,7040px 0,7680px 0,8320px 0; }
/* on place la pastille tout à gauche */
#sl_i1:target ~ #slideshow .dots_commands li:first-child a:before	{ left:0; }

/* même procédé lorsqu'on cible le second slide */
#sl_i2:target ~ #slideshow .commands								{ display: none; }

#sl_i2:target ~ #slideshow .commands2								{ display: block; }
#sl_i2:target ~ #slideshow .c_slider								{ background-position: -640px 0, 0 0, 640px 0, 1280px 0, 1920px 0, 2560px 0, 3200px 0, 3840px 0, 4480px 0, 5120px 0, 5760px 0, 6400px 0, 7040px 0, 7680px 0; }
#sl_i2:target ~ #slideshow .dots_commands li:first-child a:before	{ left:18px; }

/* puis le 3ème */
#sl_i3:target ~ #slideshow .commands								{ display: none; }
#sl_i3:target ~ #slideshow .commands3								{ display: block; }
#sl_i3:target ~ #slideshow .c_slider								{ background-position: -1280px 0, -640px 0, 0 0, 640px 0, 1280px 0, 1920px 0, 2560px 0, 3200px 0, 3840px 0, 4480px 0, 5120px 0, 5760px 0, 6400px 0, 7040px 0; }
#sl_i3:target ~ #slideshow .dots_commands li:first-child a:before	{ left:36px; }

/* le 4ème */
#sl_i4:target ~ #slideshow .commands								{ display: none; }
#sl_i4:target ~ #slideshow .commands4								{ display: block; }
#sl_i4:target ~ #slideshow .c_slider								{ background-position: -1920px 0, -1280px 0, -640px 0, 0 0, 640px 0, 1280px 0, 1920px 0, 2560px 0, 3200px 0, 3840px 0, 4480px 0, 5120px 0, 5760px 0, 6400px 0; }
#sl_i4:target ~ #slideshow .dots_commands li:first-child a:before	{ left:54px; }

/* le 5ème */
#sl_i5:target ~ #slideshow .commands								{ display: none; }
#sl_i5:target ~ #slideshow .commands5								{ display: block; }
#sl_i5:target ~ #slideshow .c_slider								{ background-position: -640px 0, -1280px 0, -1920px 0,-2560px 0, 0 0, 640px 0, 1280px 0, 1920px 0, 2560px 0, 3200px 0, 3840px 0, 4480px 0, 5120px 0, 5760px 0; }
#sl_i5:target ~ #slideshow .dots_commands li:first-child a:before	{ left:72px; }

/* le 6ème */
#sl_i6:target ~ #slideshow .commands								{ display: none; }
#sl_i6:target ~ #slideshow .commands6								{ display: block; }
#sl_i6:target ~ #slideshow .c_slider								{ background-position: -3200px 0, -2560px 0, -1920px 0, -1280px 0, -640px 0, 0 0, 640px 0, 1280px 0, 1920px 0, 2560px 0, 3200px 0, 3840px 0, 4480px 0, 5120px 0;  }
#sl_i6:target ~ #slideshow .dots_commands li:first-child a:before	{ left:90px; }

/* le 7ème */
#sl_i7:target ~ #slideshow .commands								{ display: none; }
#sl_i7:target ~ #slideshow .commands7								{ display: block; }
#sl_i7:target ~ #slideshow .c_slider								{ background-position: -3840px 0, -3200px 0, -2560px 0, -1920px 0, -1280px 0, -640px 0, 0 0, 640px 0, 1280px 0, 1920px 0, 2560px 0, 3200px 0, 3840px 0, 4480px 0;  }
#sl_i7:target ~ #slideshow .dots_commands li:first-child a:before	{ left:108px; }

/* le 8ème */
#sl_i8:target ~ #slideshow .commands								{ display: none; }
#sl_i8:target ~ #slideshow .commands8								{ display: block; }
#sl_i8:target ~ #slideshow .c_slider								{ background-position:-4480px 0, -3840px 0, -3200px 0, -2560px 0, -1920px 0, -1280px 0, -640px 0, 0 0, 640px 0, 1280px 0, 1920px 0, 2560px 0, 3200px 0, 3840px 0;  }
#sl_i8:target ~ #slideshow .dots_commands li:first-child a:before	{ left:126px; }

/* le 9ème */
#sl_i9:target ~ #slideshow .commands								{ display: none; }
#sl_i9:target ~ #slideshow .commands9								{ display: block; }
#sl_i9:target ~ #slideshow .c_slider								{ background-position:-5120px 0, -4480px 0, -3840px 0, -3200px 0, -2560px 0, -1920px 0, -1280px 0, -640px 0, 0 0, 640px 0, 1280px 0, 1920px 0, 2560px 0, 3200px 0;  }
#sl_i9:target ~ #slideshow .dots_commands li:first-child a:before	{ left:144px; }

/* le 10ème */
#sl_i10:target ~ #slideshow .commands								{ display: none; }
#sl_i10:target ~ #slideshow .commands10								{ display: block; }
#sl_i10:target ~ #slideshow .c_slider								{ background-position:-5760px 0, -5120px 0, -4480px 0, -3840px 0, -3200px 0, -2560px 0, -1920px 0, -1280px 0, -640px 0, 0 0, 640px 0, 1280px 0, 1920px 0, 2560px 0;  }
#sl_i10:target ~ #slideshow .dots_commands li:first-child a:before	{ left:162px; }

/* le 11ème */
#sl_i11:target ~ #slideshow .commands								{ display: none; }
#sl_i11:target ~ #slideshow .commands11								{ display: block; }
#sl_i11:target ~ #slideshow .c_slider								{ background-position:-6400px 0, -5760px 0, -5120px 0, -4480px 0, -3840px 0, -3200px 0, -2560px 0, -1920px 0, -1280px 0, -640px 0, 0 0, 640px 0, 1280px 0, 1920px 0;  }
#sl_i11:target ~ #slideshow .dots_commands li:first-child a:before	{ left:180px; }

/* le 12ème */
#sl_i12:target ~ #slideshow .commands								{ display: none; }
#sl_i12:target ~ #slideshow .commands12								{ display: block; }
#sl_i12:target ~ #slideshow .c_slider								{ background-position:-7040px 0, -6400px 0, -5760px 0, -5120px 0, -4480px 0, -3840px 0, -3200px 0, -2560px 0, -1920px 0, -1280px 0, -640px 0, 0 0, 640px 0, 1280px 0;  }
#sl_i12:target ~ #slideshow .dots_commands li:first-child a:before	{ left:198px; }

/* le 13ème */
#sl_i13:target ~ #slideshow .commands								{ display: none; }
#sl_i13:target ~ #slideshow .commands13								{ display: block; }
#sl_i13:target ~ #slideshow .c_slider								{ background-position:-7680px 0, -7040px 0, -6400px 0, -5760px 0, -5120px 0, -4480px 0, -3840px 0, -3200px 0, -2560px 0, -1920px 0, -1280px 0, -640px 0, 0 0, 640px 0;  }
#sl_i13:target ~ #slideshow .dots_commands li:first-child a:before	{ left:216px; }

* le 14ème */
#sl_i14:target ~ #slideshow .commands								{ display: none; }
#sl_i14:target ~ #slideshow .commands14								{ display: block; }
#sl_i14:target ~ #slideshow .c_slider								{ background-position:-8320px 0, -7680px 0, -7040px 0, -6400px 0, -5760px 0, -5120px 0, -4480px 0, -3840px 0, -3200px 0, -2560px 0, -1920px 0, -1280px 0, -640px 0, 0 0;  }
#sl_i14:target ~ #slideshow .dots_commands li:first-child a:before	{ left:234px; }

.dots_commands  {
	padding:0;
	margin:10px 0 0;
	text-align: center;
}
.dots_commands li {
	display: inline;
	padding:0; margin:0;
}
.dots_commands a {
	position: relative;
	display: inline-block;
	height: 8px; width: 8px;
	margin: 0 3.5px;
	text-indent: -9999px;
	background: #fff;
	border-radius: 50%;
	box-shadow: 0 1px 2px rgba(0,0,0,0.55) inset;

}
/* quelques styles au focus */
.dots_commands a:focus {
	outline: none;
	background: orange;
}
.dots_commands li:first-child a { z-index: 25; }

/* on style after et before, on utilisera les deux */
.dots_commands li:first-child a:after,
.dots_commands li:first-child a:before {
	position: absolute;
	top: 0; left: 0;
	content: " ";
	width: 8px; height: 8px;
	background: #bd9b83;
	z-index:20;

	border-radius: 50%;
	box-shadow: 0 1px 2px rgba(0,0,0,0.55) inset;
}

/* on cache "before", on l'utilise uniquement au clic (cf. bonux précédent) */
.dots_commands li:first-child a:before { display:none; }

/* c'est parti pour l'animation ! */
@keyframes dotser {
	0%, 100% 	{ opacity: 1; left: 0; 		}

	20%			{ opacity: 1; left: 0;		}
	22%			{ opacity: 0; left: 0;		}
	23%			{ opacity: 0; left: 18px;	}
	25%			{ opacity: 1; left: 18px;	}

	45%			{ opacity: 1; left: 18px;	}
	47%			{ opacity: 0; left: 18px;	}
	48%			{ opacity: 0; left: 36px;	}
	50%			{ opacity: 1; left: 36px;	}

	70%			{ opacity: 1; left: 36px;	}
	72%			{ opacity: 0; left: 36px;	}
	73%			{ opacity: 0; left: 54px;	}
	75%			{ opacity: 1; left: 54px;	}

	95%			{ opacity: 1; left: 54px;	}
	97%			{ opacity: 0; left: 54px;	}
	98%			{ opacity: 0; left: 72px;	}
  100%    { opacity: 1; left: 72px; }

  120%    { opacity: 1; left: 90px; }
  122%    { opacity: 0; left: 90px  }
  123%    { opacity: 0; left: 108px }
  125%    { opacity: 1; left: 108px }

  145%    { opacity: 1; left: 126px }
  147%    { opacity: 0; left: 126px }
  148%    { opacity: 0; left: 0;    }
  150%    { opacity: 1; left: 0;    }
}

.imgCenter {
  margin-left: 1rem;
}
@media screen and (max-width: 640px) {
  #lightbox-panel {
    margin-left: -150px;
    width: 83%;
  }

.c_slider {


  width: 320px !important;
}
section#slideshow {
  width: 270px;
}
#slideshow::before, #slideshow::after {
  width: 80%;
}
div.container {
  margin-left: -15px !important;
  min-width: 70% !important;
}
#slideshow .container {
  width: 110% !important;
}

.dots_commands a {
	position: sticky;
	display: inline-block;
	height: 8px; width: 8px;
	margin: 0 3.5px;
	text-indent: -9999px;
	background: #fff;
	border-radius: 50%;
	box-shadow: 0 1px 2px rgba(0,0,0,0.55) inset;

}
a#close-panel {
  margin-top: -1.5rem;
}
}
